#section__6-contact {
  background-color: var(--color-pink);
  padding: 20px;
}
.contact__title,
.contact__email,
.contact__links i,
.contact__rights {
  color: var(--color-white);
  margin: 0px;
}
.contact__links a i {
  font-size: var(--font-large);
  margin: 0px 10px;
}
.contact__email,
.contact__links,
.contact__rights {
  margin-top: 20px;
}
