.about__me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__me-dsecription {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  text-align: center;
  width: 800px;
  color: var(--color-dark-grey);
}

/* about me 아이콘 */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
.majors__icon {
  width: 170px;
  height: 170px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid var(--color-blue);
  font-size: 60px;
  color: var(--color-blue);
  line-height: 170px;
}
.majors__icon:hover {
  color: var(--color-pink);
  transform: rotate(-20deg) scale(1.1);
}
.majors__title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: var(--weight-bold);
}

.majors__title,
.majors__description {
  color: var(--color-dark-grey);
}

i {
  color: red;
}
