#section__5-testimonials {
  background-color: var(--color-light-white);
  padding: 50px;
  margin-top: 50px;
}
]
#section__5-testimonials h1 {
  font-weight: var(--weight-bold);
}
#section__5-testimonials h3 {
  font-weight: var(--weight-bold);
  margin: 20px;
}
.testimonial {
  display: flex;
  align-items: center;
}
.testimonial__speech-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.testimonial__speech-bubble p {
  color: var(--color-light-grey);
  line-height: 25px;
}
.testimonial__avator {
  border-radius: 50%;
  height: 160px;
}
.name a {
  text-decoration: none;
  color: var(--color-pink);
}
