#section__3-skills {
  background-color: var(--color-yellow);
  padding: 50px;
}
#section__3-skills h1 {
  font-weight: bolder;
  margin: 0;
}
#section__3-skills h2,
p {
  font-weight: var(--weight-semi-bold);
}
#section__3-skills p {
  padding: 10px 100px 30px 100px;
  font-weight: var(--weight-regular);
}
.skills {
  display: flex;
  justify-content: center;
}
/* skills left */
.skills__left {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  padding: 50px;
  flex-basis: 60%;
}
.skills__title {
  margin: 0;
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}
.skills__set {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.skills__description {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skills__bar {
  margin-top: 5px;
  height: 3px;
  background-color: var(--color-grey);
}
.skills__value-html {
  height: 3px;
  width: 99%;
  background-color: orange;
}
.skills__value-css {
  height: 3px;
  width: 90%;
  background-color: orange;
}
.skills__value-javascript {
  height: 3px;
  width: 80%;
  background-color: orange;
}
.skills__value-react {
  height: 3px;
  width: 88%;
  background-color: orange;
}
.skills__value-python {
  height: 3px;
  width: 70%;
  background-color: orange;
}

/* skills right */
/* skills right - tools */
.skills__right {
  /*  display: flex;
  flex-direction: column; */
  flex-basis: 40%;
  background-color: var(--color-grey);
}
.tools {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tools__list,
.etc__list {
  color: var(--color-light-white);
}
.tools__list li,
.etc__list li {
  margin: 10px;
}
/* skills right - etc */
.etc {
  height: 150px;
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
